/* ===GENERAL=== */

* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
    }
    
    /* ===HEADER=== */
    
    .header-container {
        display: flex;
        justify-content: space-between;
        margin: 15px 15px;
        align-items: center;
    }
    
    .header-logo {
        width: 50px;
       
    }
    
    .header-logo-text p {
        font-size: 13px;
        font-weight: 400;
        line-height: 1.3;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #000000;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        color: whitesmoke;
        z-index: 1;
        top: 40px;
      }
    
      .dropdown-content > ul a {
        text-decoration: none;
        margin: 1.5vh 0.4vw;
        font-size: 0.8rem;
        padding: 0px 10px;
        color: whitesmoke;
      }
    
      .triangle-anchor {
        position: relative;
        height: 1px;
        width: 1px;
        margin-bottom: 15px;
    }
    
      .triangle-anchor::before {
          width: 0;
          height: 0;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-bottom: 10px solid black;
          position: absolute;
          top: -7px;
          left: 4px;
          content: "";
      }
    
      .dropdown-content ul li {
        list-style: none;
        padding: 5px 5px;
      }
    
      .social-box {
        display: flex;
        justify-content: space-between;
        position: relative;
      }
    
      .social-box i {
        color: whitesmoke;
        text-align: center;
        font-size: 1.2rem;
    }
    
      .social-box a {
       display: block;
    }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
    
      .header-search-container {
          width: 44%;
          margin-left: 1vw;
      }
    
      .header-search-container button {
        border:none;
        background-color: transparent;
        padding: 1vw;
        border-radius: 50%;
        width: 1vw;
        padding-right: 30px;
    }
    
    .header-search-container button i {
        font-size: 1rem;
        color: #999898;
        padding-right: 10px;
    } 
    
    .header-search-container button i:hover {
        cursor: pointer;
        color: #686868;
        transition: 300ms;
    } 
    
    .header-search-container form {
        background-color: #EEEEEE;
        display: flex;
        border-radius: 30px;
    }
    
    .header-search-container form:hover {
        /* border: 1px solid grey; */
        box-shadow: 0px 0px 0px 1px rgb(163, 163, 163) inset;
        transition: 500ms;
    }
    
    .header-search-container form input:focus {
        background-color: white;
        outline: none;
    }
    
    
      .header-search-container form input {
        width: 80%;
        background-color: #EEEEEE;
        border: none;
        height: 20px;
        font-size: 15px;
        padding-left: 1vw;
        align-self: center;
    }
    
    .header-search-container form:focus-within {
        background-color: white;
    }
    
    
    .header-nav > a {
        color: #999898;
        font-size: 15px;
        padding: 5px 15px;
        line-height: 40px;
        text-decoration: none;
    }
    
    .header-nav a:hover {
        color: black;
        transition: 300ms;
    }
    
    .dropdown > i {
        padding-left: 10px;
        font-size: 18px;
        color: #999898;
        position: relative;
        top: 4px;
    }
    
    .header-submit-button {
        border: 1px solid #a3a3a3;
        background-color: transparent;
        border-radius: 5px;
        cursor: pointer;
        font-size: 15px;
        padding: 7px 10px;
        margin-left: 2.5vw;
        margin-top: 0.6vh;
        margin-right: 1vw;
        text-decoration:none;
        color: #999898;
    }
    
    .header-submit-button:hover {
        background-color:transparent;
        color: black;
        border: 1px solid black;
        transition: 500ms;
    }
    
    .button-divider {
        border-right: 1px solid #c9c7c7;
        height: 2.2vw;
        margin: 0.6vh 1vw;
    }
    
    .header-login-button {
        border: none;
        font-size: 15px;
        cursor: pointer;
        color: #999898;
        background-color:transparent;
    }
    
    .header-join-button {
        border: none;
        font-size: 15px;
        background-color: #5AB46E;
        padding: 7px 10px;
        cursor: pointer;
        color: whitesmoke;
        border-radius: 3px;
    }
    
    /* ===MAIN=== */
    
    /* .showcase-container {
        font-size: 20px;
      } */
      
      .header-search-wrap{
        width: 40%;
        position: absolute;
      }
    
    /* ===MAIN=== */
    
    
    .showcase-nav {
    margin:0 1vw;
    height: 50px;
    }
    
    .showcase-nav > li {
    display: inline;
    line-height: 50px;
    
    }
    
    .showcase-nav > div {
        display: inline;
        line-height: 50px;
        border-right:1px #919191 solid;
        
        }
    
    .showcase-nav > li a:hover,
    .showcase-nav > div a:hover{
        color: #000000;
        transition: 300ms;
        }
    
    
    
    .showcase-nav > div a,
    .showcase-nav > li a
    {
        text-decoration: none;
        color:  #919191;
        padding: 25px 0;
        margin: 0 0.5vw;
        font-size:0.8rem;
        }
    
    
    .showcase-container {
    
    color: #ffffff;
    width:100%;
    height:500px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://source.unsplash.com/ARVFsI-32Uk/1920x900");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    }
    
    .showcase-container > .text-box {
    
    margin: auto;
    
    }
    
    
    .showcase-container > .text-box > h1 {
    
    font-size: 2.5rem;
    padding-bottom: 2vh;
    
    }
    
    
    .showcase-container > .text-box > form {
    
       background-color: #ffffff;
       border-radius: 4px;
      
    }
    
    
    .showcase-container > .text-box > form > input {
    
        padding:1vh 0;
        border-radius: 3px;
        border:none;
        width: 50vw;
      
    }
    
    .showcase-container > .text-box > form > input:focus {
        outline:none;
    }
    
    
    
    .showcase-container > .text-box > form > button {
    
        border:none;
        background-color:  #ffffff;
        padding: 1vw;
        border-radius: 3px;
    
    
    }
    
    .showcase-container > .text-box > form > button:hover {
    
        cursor: pointer;
    }
    
    
    
    .showcase-container > .text-box > form > button > i {
    
    font-size:1rem;
    color: #d6d6d6;
        
    }
    
    .showcase-container > .text-box > form > button:hover i {
    
        transition: 300ms;
        color: #8f8f8f;
            
        }
    
    .showcase-container > .text-box > span {
    
    font-size: 0.8rem;
    
    }
    
    
    .showcase-container > .text-box > span > a {
    
        font-size: 0.8rem;
        color: #d6d6d6;
        text-decoration: none;
        
        }
    
        
    .showcase-container > .text-box > span > a:hover {
    
        color: #fff;
        transition: 300ms;
      }
    
    .showcase-container > .bottom-box {
    
    display: flex;
    justify-content: space-between;
    align-self: flex-end;  
    width:100%; 
    color: #acacac;
    font-size: 0.7rem;
    padding: 2vh 2vw;
    }
    
    .showcase-container > .bottom-box a {
    
    color: #d6d6d6;
    text-decoration: none;
    }
    
    .showcase-container > .bottom-box a:hover {
    
    
        color: #ffffff;
        transition: 300ms;
    }
    
    
    .showcase-container > .bottom-box a span:hover {
    
    cursor: zoom-in;
    }
    
    
    .grid-container {
    
    
    display: flex;
    flex-direction: row;
    width:70vw;
    margin:1vh auto;
    
    }
    
    
    .grid-container > .col {
    
        width:33.33%;
        }
    
    
    
    .grid-container > .col > .photo {
    
    display: flex;
    flex-direction: column;
    width:100%;
    position: relative;
    padding: 0.5vw;
    }
    
    
    .grid-container .col > .photo > img {
    
    width:100%;
    -webkit-filter: brightness(100%);
    transition: all 300ms;
    
    
    }
    
    
    .grid-container > .col > .photo > .btn-like {
    
    padding:0;
    margin:0;
    width:70px;
    height: 30px;
    top:30px;
    right: 105px;
    color: grey;
    background: rgb(223, 223, 223);
    border:none;
    border-radius:3px;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    }
    
    .grid-container > .col > .photo > .btn-like > i {
        color:red;
        margin-right:3px;
    }
    
    
    .grid-container > .col > .photo > .btn-down {
    
        padding:0;
        margin:0;
        width:50px;
        height: 30px;
      bottom: 30px;
        right: 30px;
        color: grey;
        background: rgb(223, 223, 223);
        border:none;
        border-radius:3px;
        position: absolute;
        z-index: 12;
        cursor: pointer;
        opacity: 0;
        font-size:1.3rem;
        text-align: center;
        }
        
        .grid-container > .col > .photo > .btn-down > i {
            color:rgb(87, 87, 87);
            margin-right:3px;
        }
    
    
    
    
    
    
    .grid-container > .col > .photo > .btn-collect {
    
        padding:0;
        margin:0;
        width:70px;
        height: 30px;
        top:30px;
        right: 30px;
        color: grey;
        background: rgb(223, 223, 223);
        border:none;
        border-radius:3px;
        position: absolute;
        z-index: 1;
        cursor: pointer;
        opacity: 0;
        }
        
        .grid-container > .col > .photo > .btn-collect > i {
            color:rgb(87, 87, 87);
            margin-right:3px;
        }
    
    
    
    
    
    .grid-container .col > .photo:hover > img {
    
        -webkit-filter: brightness(50%);
        transition: all 300ms;
        
        }
    
    
    
    
    
        .grid-container .col > .photo:hover .btn-like, 
        .grid-container .col > .photo:hover .btn-collect,
        .grid-container .col > .photo:hover .btn-down,
        .grid-container .col > .photo:hover div img,
        .grid-container .col > .photo:hover div span{
    
        opacity: 0.8;
        transition: all 200ms;
            
            }
    
    
    
        .grid-container .col > .photo > .btn-like:hover,
        .grid-container .col > .photo > .btn-collect:hover,
        .grid-container .col > .photo > .btn-down:hover,
        .grid-container .col > .photo > div img:hover,
        .grid-container .col > .photo > div span:hover{
    
    opacity: 1;
    
            } 
    
    
        
    
     .grid-container > .col > .photo > div > img {
    
                z-index: 50;
                position: absolute;
                width:50px;
                border-radius: 50%;
                bottom:30px;
                left:30px;
                opacity:0;
                cursor: pointer;
            }        
    
           
           
           
           
     .grid-container > .col > .photo > div > span {    
    
      font-size: 16px;
      position: absolute;
         color: rgb(192, 192, 192);
                z-index: 50;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: normal;
                bottom: 48px;
                left: 90px;
                opacity:0;
                cursor: pointer;
    
            }
    
    
    
    
    
    
    
    /* ===FOOTER=== */
